a:visited: {
    color: #00cc66;
}

a:link, {
    color: #009933;
}

a:hover {
    color: #66ff66;
}

body {
    text-align: justify;
}

body {
    background-color: slategrey;
}

img {
    border-radius: 7%;
}

ul {
    list-style: none;
}

ul {
    list-style-type: "\2615"
}


.films {
    font-style: italic;
}

