<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <meta http-equiv="refresh" content="30"> -->
    <title>My Todo List</title>
    <!-- Add your styles here! -->
    <script src="https://kit.fontawesome.com/eb3d9f2f00.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/site.css" />
</head>

<body>
    <main id="app">
        <h1>{{title}}</h1>
        <form @submit.prevent="addTodo">
            <label class="label-todo" for="newTodo">New Todo</label>
            <input v-model="newTodo" type="text" name="newTodo" id="newTodo">
            <button class="submit-btn" type="submit" name="button">Add</button>
        </form>
        <ul>
            <li v-for="todo in todos">
                <div class="lft-side">
                    <input type="checkbox" v-model="todo.done">
                    <span :class="{ done: todo.done }" id="todo-title">{{todo.title}}</span>
                </div>
                <button @click="removeTodo(todo)" type="button" name="button" class="remove-btn">Remove</button>
            </li>
        </ul>
    </main>

    <!-- Include Vue from a CDN of your choice, I chose unpkg -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Include your code here... -->
    <script src="js/site.js"></script>
</body>

</html>