body {
    max-width: 900px;
    margin: auto;
    text-align: justify;
    background-color: lightgoldenrodyellow;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: dimgray;
}

h1, h2, h3 {
    text-align: center;
    color: black
}

img {
    float: left;
    padding: 10px;
    border: 5px solid #555;
    border-radius: 50%;
  }

div.with-photo {
    height: 200px;
}

div.quote {
    height: 90px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    color: black
}

div.under-photo {
    height: 550px;
    padding: 50px;
}

li {
    list-style-type: circle;
}

a {
    color: lightslategray}