body {
    background-color: seagreen;
    color: rgb(61, 48, 23);
    border: 1px solid black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    border-radius: 20px
    
    }



img {
    float: left;
    margin-right: 10px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 500px;
    padding-top: 20px;
    padding-right: 20 px;
    padding-left: 20 px;
    padding-bottom: 20 px;
    
    
}
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(37, 37, 37);
    color: red
}

li {
    color: rgb(161, 157, 255);
    list-style-type: square
}

strong {
    font-weight: bolder
}

.article {
    padding-top: 30px;
    padding-right: 20 px;
    padding-left: 20 px;
    padding-bottom: 20 px;
    background-color: rgb(34, 23, 10);
    color: rgb(238, 193, 108);
    padding-bottom: 10px;
    margin: 10px;
    border-radius: 50px;
    height: auto;
    

    }

a {
    color: magenta;
    font-size: 32px;
}

blockquote {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}



button {
    background-color: rgb(27, 3, 136);
    color: whitesmoke;
    border-radius: 20px
    
}