<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Todo List</title>
    <!-- Add your styles here! -->
    <link rel="stylesheet" href="/css/site.css" />
</head>
<body>

    <div>
    </div>

    <!-- Include Vue from a CDN of your choice, I chose unpkg -->
    

    <div id="vm">
        <input type="text" v-model='current'/>
        <button @click="create">Add To List</button>
        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
                <button @click="del">Delete</button>
            </li>
        </ol>
    </div>


    <!-- Include your code here... -->
    <script src="lab13.js"></script>
    <script src="https://unpkg.com/vue"></script>
</body>
</html>