<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chirp</title>
    <link rel="stylesheet" href="../../static/posts/css/styles.css">
    <script src="https://kit.fontawesome.com/eb3d9f2f00.js" crossorigin="anonymous"></script>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <nav class="collapse navbar-collapse navbar-inverse navbar navbar-expand-lg" id="navbarNav">
        <ul class="nav nav-pills nav-justified">
            <li class="nav-item">
                <a href="#"><i class="fab fa-earlybirds"></i></a>
            </li>
            <li class="nav-item">
                <a href="#"><i class="fas fa-caravan"></i>Home</a>
            </li>
            <li class="nav-item">
                <a href="#"><i class="far fa-bell"></i>Notifications</a>
            </li>
            <li class="nav-item">
                <a href="#"><i class="far fa-envelope"></i>Message</a>
            </li>
        </ul>
    </nav>
    
    
    {% block content %}



    {% endblock content %}
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
</body>
</html>