<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>HTML for JavaScript Lab 04</title>
        <link rel="stylesheet" href="lab11site.css" />
    </head>
    <body>
        <p>My To-Do List:<p><br>
        <div id="to-do-list">
        <ul>
            <li v-for="todo in todos">
            {{ todo.text }}
            <button v-on:click="completeTask">Mark task as complete</button>
            <button v-on:click="deleteTask">Delete this task</button>
            </li>
        </ul>
        <input v-model="newTaskText" type="text">
        <button v-on:click="newTask">Add this task</button>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="lab11site.js"></script>
    </body>
</html>